.toggle_container{
    display: flex;
    background-color: white;
    width: fit-content;
}
.toggle_item{
    padding: 5px;
}
.toggle_item_selected{
    background-color: yellowgreen;
    color: white;
}