.weather_container{
  padding: 10px;
}
.weather_icon{
  max-width: 20px;
  max-height: 20px;
}
.weather_item{
  display: flex;
  align-items: center;
}
.currentDate{
  display: flex;
}
.item_temp_unactive{
  opacity: 0;
  height: 0px;
}